<nav class="container navbar navbar-toggleable-md navbar-light bg-faded">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="#">Welcome my page</a>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav ml-auto">
      
    </ul>
  </div>
</nav>

<div class="header-introduce">
    <div class="header-picture">        
        <div class="header-info">
            <span class="header-info-h">Hello~</span>
            <br>
            <br>
            <span class="header-info-p">My name is Gilhyeon Gim</span>
        </div>
    </div>
</div>



<div class=" container contents">

<br>
<br>
<br>

    
    
<!--<button type="button" class="btn btn-primary btn-lg btn-block">Block level button</button>-->
<!--<button type="button" class="btn btn-secondary btn-lg btn-block">Block level button</button>-->
<!--<button type="button" class="btn btn-outline-primary">Primary</button>-->
<!--<button type="button" class="btn btn-outline-secondary">Secondary</button>-->
<!--<button type="button" class="btn btn-outline-success">Success</button>-->
<!--<button type="button" class="btn btn-outline-info">Info</button>-->
<!--<button type="button" class="btn btn-outline-warning">Warning</button>-->
<!--<button type="button" class="btn btn-outline-danger">Danger</button>-->

<!-- Button trigger modal -->
<button type="button" class="btn btn-outline-primary btn-lg btn-block" data-toggle="modal" data-target="#myModal">
  Profile
</button>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Profile</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="mypicture">
          <%= image_tag ("my.JPG") %>
        </div>
        <ul>
          <br>
          <li>Kookmin University </li>
          <li>Automotive Engineering</li>
          <li>Age : 25</li>
        </ul>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        
      </div>
    </div>
  </div>
</div>

<br>
<br>

<!-- Button trigger modal -->
<button type="button" class="btn btn-outline-success btn-lg btn-block" data-toggle="modal" data-target="#myModal2">
  Character
</button>

<!-- Modal -->
<div class="modal fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Character</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <img src="https://d2lm6fxwu08ot6.cloudfront.net/img-thumbs/960w/FRDRMS892W.jpg">
        <ul>
          <br>
          <li>긍정적!</li>
          <li>활동적!</li>
          <li>밥을 빨리 먹음!</li>
        </ul>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        
      </div>
    </div>
  </div>
</div>

<br>
<br>
    
<button type="button" class="btn btn-outline-warning btn-lg btn-block" data-toggle="modal" data-target="#myModal3">
  Hobby
</button>

<!-- Modal -->
<div class="modal fade" id="myModal3" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Hobby</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <img src="https://d2lm6fxwu08ot6.cloudfront.net/img-thumbs/960w/M4TKS2J4JW.jpg">
        <p></p>
        <img src="https://d2lm6fxwu08ot6.cloudfront.net/img-thumbs/960w/4E285AB185.jpg">
        <p></p>
        <img src="https://d2lm6fxwu08ot6.cloudfront.net/img-thumbs/960w/QF22B8A0PW.jpg">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        
      </div>
    </div>
  </div>
</div>


<br>
<br>


<button type="button" class="btn btn-outline-danger btn-lg btn-block" data-toggle="modal" data-target="#myModal4">
  Favorite Movie
</button>

<!-- Modal -->
<div class="modal fade" id="myModal4" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Favorite Movie</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <img src="http://kingofwallpapers.com/the-italian-job/the-italian-job-004.jpg">
        <p></p>
        <img src="https://kpfa.org/wp-content/uploads/2016/09/Snowden-the-film.jpg">
        <p></p>
        <img src="http://cfile24.uf.tistory.com/image/2652303C5689B38A0D91A7">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        
      </div>
    </div>
  </div>
</div>
    
    
    
    
    
    
    
    
    
    <!--<h4 id="name"> 국민대학교 자동차공학과 12학번 김길현</h4>-->
    <!--    <br><br>-->
    <!--    2012/03. 국민대학교 입학-->
    <!--    <br><br>-->
    <!--    2013/07 ~ 2015/03. *군생활*-->
    <!--    <br><br>-->
    <!--    2015/08 ~ 2016/05. 미국에서 개최된 자작차대회 Fomula SAE 참가-->
    <!--    <br><br>-->
    <!--    <iframe src="https://www.youtube.com/embed/hGYOJ0KXXEs" frameborder="0" allowfullscreen></iframe>-->
    <!--    <br><br>-->
    <!--    2016/07 ~ 2017/03. 싱가포르에서 개최된 Shell Eco-marathon in Asia대회 참가-->
    <!--    <br><br>-->
    <!--    <img src=https://scontent.ficn1-1.fna.fbcdn.net/v/t31.0-8/17359272_1449655865053360_2488190501115180786_o.jpg?oh=f0971f9882bbf114dda333f9fa0bde6b&oe=5994A8B1 width="700" height="400">-->
    <!--    <br><br>-->
    <!--    2017/03 ~   3학년 재학중 / 멋쟁이 사자처럼 5기 활동중!!-->
    
</div>

<br>
<br>
<br>

<div class="container contents-mail">
  <h2 style="text-align:center;" id="div1">QUIZ~!</h2>
  <br>
  
  <form class="col-md-6 offset-md-3" action="/index" method="GET">
    <div class="form-group">
      <label for="exampleInputEmail1 ">이 홈페이지의 주인은?</label>
      <input name="InputName" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="영어로 적어주세요.">
      <small id="emailHelp" class="form-text text-muted">쉽죠!?</small>
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1">나이는?</label>
      <input name="InputAge" class="form-control" id="exampleInputPassword1" placeholder="숫자로 적어주세요.">
      <small id="emailHelp" class="form-text text-muted">ㅂ ㅇㅅ</small>
    </div>
    <div class="form-group">
      <label for="exampleTextarea">낙서장</label>
      <textarea naeme="InputText" class="form-control" id="exampleTextarea" rows="7" placeholder="아무거나 적어주세요~!"></textarea>
    </div>
   
    <button type="submit" class="btn btn-primary">Send!</button>
  </form>
</div>



<div class="footer">
    
    
</div>

 
 
 
 
<script src="custom.js"></script>

