
<div class="container secondpage">
    <div class="secondpage-header">
    
                <h1>Name:  <%= params["InputName"] %></h1>
                <br>
                
                <h1>Age:  <%= params["InputAge"]%></h1>
                <br>
                <br>
                
                <a class="btn btn-primary" href="/" role="button">Go to Home!</a>
    
    </div>
</div>